body{
    width: 400px;
    height: 40%;
    display: flex;
    justify-content: center;
    background: #453246;
}
form{
    display: flex;
    flex-wrap: wrap;
    display: inner-flex;
    margin: 10px 10px;
    padding: 10px;
    font-size: 20px;
    color:#125D98;
    border-radius: 10px;
    border: 3px solid #187498
    }